@model IEnumerable<karikanji.Models.Todo>

@{
    ViewBag.Title = "Todo page";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ThingsToDo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ThingsToDo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TodoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TodoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TodoId })
        </td>
    </tr>
}

</table>
