@model karikanji.Models.Combo

@{
    ViewBag.Title = "Delete";
}

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br /> 

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Combo</legend>
    @Html.HiddenFor(model =>model.ComboId)
    @Html.HiddenFor(model =>model.MenuId)
    @Html.HiddenFor(model =>model.Menu)
    <div class="display-field">
        @Html.DisplayFor(model => model.Item)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> 
        
    </p>
    <div>
            <a href="@Url.Action("Home", "MainPage")#specialDeals">Back to Main Page</a>
        </div>
}
